<div class="container mt-4" *ngIf="perfil">
  <h1>Perfil de Usuario</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Perfil</th>
        <th>Nombre del Perfil</th>
        <th>Descripción</th>
        <th>ID Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ perfil.idPerfil }}</td>
        <td>{{ perfil.nombrePerfil }}</td>
        <td>{{ perfil.descripcion }}</td>
        <td>{{ perfil.usuarioId }}</td>
      </tr>
    </tbody>
  </table>
</div>
